.loginContainer {
  position: absolute;
  top: 20%;
  left: 33%;
  width: 30%;
  height: auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: auto;
  color: black;
  background-color: #303338;
  min-width: 400px;
}

.loginContainer h2 {
  margin-bottom: 5px;
}

.loginForm {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: left;
  color: #b5bac0;
  font-size: 12px;
}

.asterisk {
  color: red;
  font-size: 16px;
}

p {
  text-align: left;
}
