@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: white;
}
body {
  height: 100vh;
  overflow: hidden;
}

.mainContainer > div {
  border: 1px solid black;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
}

.active {
  background-color: #0000ff;
}

.notActive {
  background-color: #313338;
}

a {
  text-decoration: none;
}

i:hover {
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
