@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: white;
}

.mainContainer > div {
  border: 1px solid black;
}

.profileImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 5px;
  position: relative;
}
