.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
.messageHeader {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.messageContent {
  flex: 1;
}

.messageAuthor {
  font-weight: bold;
  margin-bottom: 10px;
}

.messageText {
  font-size: 14px;
}
