.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}
.message:hover {
  background-color: #2d3035;
}
.message:hover .messageAction {
  display: flex;
}
.messageAction {
  background-color: #2d3035;
  position: absolute;
  top: -20px;
  display: none;
  justify-content: center;
  align-items: center;
  right: 80px;
  padding: 10px 40px;
  border-radius: 6px;
}
.messageAction i {
  margin: 0 30px;
}
.messageHeader {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.messageContent {
  flex: 1;
}

.messageAuthor {
  font-weight: bold;
  margin-bottom: 10px;
}

.messageText {
  font-size: 14px;
}
